<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> personal portfolio website</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="style.css">

</head>
<body>
    
<section class="education" id="education">

    <h1 class="heading"> my <span>Learings</span> </h1>
    
    <div class="box-container">
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2019</span>
            <h3>programing in c</h3>
            <p>I am very much familiar to this language.Some of the basics of this language like string ,pointer ,array etc. ,
                I know very well.I will to develop basic games by using C Language.In Competative Programming ,I usually 
                use this language.In C, I can say that I am in Intermediate Plus stage in this language.</p>
        </div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2019</span>
            <h3>programing in C++</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem provident laborum quae, distinctio eaque temporibus!</p>
        </div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2018</span>
            <h3>front end development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem provident laborum quae, distinctio eaque temporibus!</p>
        </div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2019</span>
            <h3>front end development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem provident laborum quae, distinctio eaque temporibus!</p>
        </div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2020</span>
            <h3>front end development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem provident laborum quae, distinctio eaque temporibus!</p>
        </div>
    
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2021</span>
            <h3>front end development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem provident laborum quae, distinctio eaque temporibus!</p>
        </div>
    
    </div>
    
    </section>
    
    <!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="script.js"></script>


</body>
</html>