<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ankit-portfolio</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="style.css">

</head>
<body>
    
<!-- header section starts  -->

<header>

    <div class="user">
        <img src="img/ankitimg.jpg" alt="">
        <h3 class="name">Ankit Rajput</h3>
        <p class="post">full stack developer</p>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="#education">Learnings</a></li>
            <li><a href="#portfolio">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

</header>

<!-- header section ends -->

<div id="menu" class="fas fa-bars"></div>

<!-- home section starts  -->

<section class="home" id="home">

    <h3>HI THERE !</h3>
    <h1>I'M <span>Ankit Rajput</span></h1>
    <h3>
        A student and a Web Developer
    </h3>
    <p>
        I am from Gwalior (M.P.) India and I love to design stuff with my unique point of view. I also love to coding and solving alogrithmic puzzles and problems.
    </p>
    <p>
        I started coding since I was in high school. Coding is also an art for me. 
        I love it and I find it really interesting. I have secured 8.4 cgpa out of 10 in my 10th board 
        exams and 81.8% in my 12th board exams. My current CPI is 7.5 out of 10. My technical 
        skills lie generally in coding using c , c++ and java. And I also do web development.
       
    </p>
    <p>
        My Hoobies are playing table tennis,singing and exploring.
    </p>
    <p>
        My vision is to myself better day by day and learn from new technologies and implement my ideas into reality.
    </p>
    <p>

    </p>
    <a href="#about"><button class="btn">about me <i class="fas fa-user"></i></button></a>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

<h1 class="heading"> <span>about</span> me </h1>

<div class="row">

    <div class="info">
        <h3> <span> name : </span> Ankit Rajput </h3>
        <h3> <span> DOB : </span> 05/08/1998 </h3>
        <h3> <span> Institute : </span> Indian Institute of Information Technology Guwahati </h3>
        <h3> <span> qualification : </span> B.Tech(Electronics and Communications Engineering) </h3>
        <h3> <span> post : </span> web developer </h3>
        
        <a href="#"><button class="btn"> download CV <i class="fas fa-download"></i> </button></a>
    </div>

    <div class="counter">

        

        <div class="box">
            <span>3</span>
            <h3>porject completed</h3>
        </div>

        

    </div>

</div>

</section>

<!-- about section ends -->

<!-- education section starts  -->

<section class="education" id="education">

<h1 class="heading"> my <span>Learings</span> </h1>

<div class="box-container">

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019</span>
        <h3>Programming in C/C++</h3>
        <p>I am very much familiar to this language.Some of the basics of this language like string ,pointer ,array etc. ,I know very well.I will to develop basic games by using C/C++ Language.In Competative Programming ,I usually use this language.In C/C++, I can say that I am in Intermediate Plus stage in this language.</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019</span>
        <h3>Programming in java</h3>
        <p>I am not very much familiar to this as I am in C/C++ language.I am currently in learning Period. I can say that ,I am in familiar stage in this language</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019</span>
        <h3>HTML</h3>
        <p>I am very familiar to this language. I usually used this language in Web development in major portion.I completed my all Projects using this language along with CSS and some Javascript.I used 75% HTML approx in My Portfolio.I can say that, I am in expert stage in this language.</p>
    </div>
    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019</span>
        <h3>CSS</h3>
        <p>I am very familiar to this language as HTML.I usually used this language in Web development for animations and style of web page.In all my Projects ,I used CSS along with HTML and Javascript.I used 20% CSS approx in My Portfolio.I can say that, I am in Intermediate Plus stage in this language.</p>
    </div>
    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019</span>
        <h3>NODE.js, EXPRESS.js</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem provident laborum quae, distinctio eaque temporibus!</p>
    </div>
    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019</span>
        <h3>MONGODB</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem provident laborum quae, distinctio eaque temporibus!</p>
    </div>
    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2020</span>
        <h3>DATA STRUCTURE & ALGORITHM</h3>
        <p>I have done courses on Data Structures and Algorithms, Database Management System, Operating Systems and OOPs as my core subjects and I love solving algorithmic problems.
    </div>
            <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2020</span>
        <h3>DBMS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id autem provident laborum quae, distinctio eaque temporibus!</p>
    </div>

    


</div>

</section>

<!-- education section ends -->

<!-- portfolio section starts  -->

<section class="portfolio" id="portfolio">

<h1 class="heading"> my <span>portfolio</span> </h1>

<div class="box-container">

    <div class="box">
        <img src="img/web1.jpg" alt="">
    </div>
    
    <div class="box">
        <img src="img/web2.jpg" alt="">
    </div>
</div>

</section>

<!-- portfolio section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

<h1 class="heading"> <span>contact</span> me </h1>

<div class="row">

    <div class="content">

        <h3 class="title">contact info</h3>

        <div class="info">
            <h3> <i class="fas fa-envelope uuu"></i> ankit.rajput@iiitg.ac.in </h3>
            <h3> <i class="fas fa-phone"></i> +919981642422 </h3>
            <h3> <i class="fas fa-phone"></i> +917987638890 </h3>
            <h3> <i class="fas fa-map-marker-alt"></i> Gwalior madhaya pradesh, India - 474006</h3>
        </div>

    </div>

    <form action="" method="post">

        <input type="text" name="name" placeholder="name" class="box">
        <input type="email" name="email" placeholder="email" class="box">
        <input type="text" name="phone" placeholder="phone" class="box">
        <textarea  name="message"  id="" cols="30" rows="10" class="box message" placeholder="message"></textarea>
        <button type="submit" class="btn"> send <i class="fas fa-paper-plane"></i> </button>s
    </form>

</div>

</section>

<!-- contact section ends -->


<!-- scroll top button  -->

<a href="#home" class="top">
    <img src="images/scroll-top-img.png" alt="">
</a>















<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="script.js"></script>


</body>
</html>